.paragraph-container {
  margin: auto;
}
.aboutus-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}
.aboutus-image {
  width: 100%;
}
/*For smaller screens*/
@media (max-width: 768px) {
  .paragraph-container {
    margin: auto;
  }
}
