#apBG {
    background-color: #f5e9cf;
    min-height: 100vh;
  }

  #CardBG {
    background-color: #7db9b6;
    color: white;
  }

  .patient-table {
    background-color: #4d455d;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .patient-table th,
  .patient-table td {
    padding: 10px;
    color: white;
  }
  
  .patient-table th {
    background-color: #4d455d;
  }
  
  .patient-table tr:nth-child(even) {
    background-color: #6b6285;
  }
  
  .patient-table img {
    border-radius: 50%;
  }
  