#assBG {
  background-color: #f5e9cf;
  min-height: 100vh;
}

#AssForm {
  background-color: #7db9b6;
  color: white;
}
#buttonAss {
  background-color: #4d455d;
  border: none;
  color: #ffffff;
}

#buttonAssTab {
  background-color: #4d455d;
  height: 6rem;
  width: 50rem;
  color: white;
  border: none;
}

#modalBG {
  background-color: #4d455d;
}

#submitButton {
  background-color: #7db97f;
  font-size: large;
  color: #f5e9cf;
  width: 6rem;
  border: none;
}

.swal-overlay {
  background-color: rgba(43, 165, 137, 0.45);
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #4d455d;
  font-size: 12px;
  border: 1px solid #4d455d;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
