/* ScrollableComponent.css */

/* Style the container with custom scrollbar */
.custom-scroll-container {
  max-height: 300px; /* Set your desired max height */
  overflow-y: auto;
  overflow-x: hidden;
}

/* Style the scrollbar */
.custom-scroll-container::-webkit-scrollbar {
  width: 8px; /* Set the width of the vertical scrollbar */
}

.custom-scroll-container::-webkit-scrollbar-thumb {
  background-color: rgb(
    160,
    207,
    205
  ); /* Set the color of the scrollbar thumb */
  border-radius: 4px; /* Set the border radius of the thumb */
}

.custom-scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #7db9b6; /* Change the thumb color on hover */
}

.custom-scroll-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set the color of the scrollbar track */
}
