#footerBG {
  background-image: url(../img/footerbg.png);
  background-size: cover;
  background-color: #f5e9cf;
  background-repeat: no-repeat;
}
#footerTitle {
  color: #4d455d;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
}
#cardTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-align: left;

  color: #4d455d;
}
#cardbg {
  background: none;
  border: none;
}
#description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  align-items: center;
  text-align: left;
  color: #f5e9cf;
}
#ButtonFooter {
  color: #4d455d;
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  width: 291px;
  height: 71px;
  border: none;
  background: #e96479;
  box-shadow: 10px 10px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
}

/* Base styles for larger screens */

/* Media query for smaller screens */
@media (max-width: 768px) {
  .container-fluid {
    height: auto;
  }
}
