#bodyBG {
  background-image: url("/src/img/bgpic.png");
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
}

#titleP {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  color: #4d455d;
}
#titleP2 {
  color: #e96479;
}

#GetStartedBody {
  color: #4d455d;
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  width: 291px;
  height: 71px;
  border: none;
  background: #7db9b6;
  box-shadow: 10px 10px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
}

@media only screen and (min-width: 992px) {
  #bodyBG {
    background-image: url("/src/img/bgpic.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
  }
}
