/* In your CSS file or style block */
.item-text {
  display: inline; /* Change 'none' to 'inline' to make it visible by default */
  opacity: 0;
  transition: opacity 0.5s; /* You can adjust the duration as needed */
}

#certified:hover .item-text {
  opacity: 1; /* Change 'display: inline' to 'opacity: 1' to control visibility with animation */
}

#wallet:hover .item-text {
  opacity: 1;
}

#point:hover .item-text {
  opacity: 1;
}

#comms:hover .item-text {
  opacity: 1;
}

/* Add similar styles for other list items */
