#loginBG {
  background-image: url("/src/img/loginbg.png");
  background-repeat: no-repeat;
  min-height: 100vh;
  opacity: 90%;
}
#loginInput {
  color: white;
  background: rgba(77, 69, 93, 0.623);
  background-repeat: no-repeat;
  min-height: 100vh;
}
.textsize {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 60px;
}
