#navbar {
  background-color: #4d455d;
}

#hoverNav {
  color: #f2e3d2;
}
/* Style for the border animation */
.nav-link {
  position: relative;
  transition: border 0.3s ease, color 0.3s ease; /* Customize the animation duration */

  /* Initially, no border and transparent border color */
  border: none;
  color: #333; /* Customize the default text color */
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px; /* Customize the border size */
  background-color: transparent; /* Initially, transparent border color */
  transform: scaleX(0); /* Initial border width */
  transform-origin: left;
  transition: transform 0.3s ease, background-color 0.3s ease; /* Animation duration and easing */
}

.nav-link:hover::before {
  background-color: #f2e3d2; /* Customize the border color on hover */
  transform: scaleX(1); /* Expand the border on hover */
  transform-origin: right;
}

/* Default styles for larger screens */
/* Add any additional styles you need */

/* Media query for smaller screens */
/* Media query for small screens */
@media (max-width: 768px) {
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    z-index: 1000;
  }

  .navbar-toggler {
    background-color: #f2e3d2; /* Set the background color to transparent */
    margin-left: 70px;
  }

  .navbar-collapse {
    margin-left: 70px;
    position: absolute;
    top: 100%; /* Position it just below the navbar */
    width: 150px;
    left: 0;
    right: 0;
    display: none;
    background-color: #4d455d; /* Set the background color */
    border-radius: 5%;
    z-index: 1000;
  }

  .show.navbar-collapse {
    display: block;
  }

  .logo {
    display: none;
  }
}
