#mainModal {
  background-color: none;
}
#pInfoBG {
  background-color: #f5e9cf;
  min-height: 100vh;
}
#piModal {
  background-color: #7db9b6;
  color: white;
  border-color: #7db9b6;
}
#piBG {
  background-color: #4d455d;
}

#colBG {
  background-color: #f5e9cf;
  color: #4d455d;
}
#bottomBorder {
  border-bottom: #4d455d 1px solid;
}
#viewButton {
  width: 8rem;
  height: 3rem;
  background: #b69e66;
  box-shadow: 10px 10px 10px 4px rgba(0, 0, 0, 0.25);
  border: none;
  color: #ffffff;
}

#ModalAssButton {
  background-color: #4d455d;
  color: #f5e9cf;
  border: none;
}
