#AssForm {
  background-color: #4d455d;
  color: #f5e9cf;
  min-width: 90rem;
}
#buttonAss {
  background-color: #f5e9cf;
  border: none;
  color: #4d455d;
}

#buttonAssBG {
  background-color: #f5e9cf;
  height: 6rem;
  width: 50rem;
  color: #4d455d;
  border: none;
}

#modalBG {
  background-color: #4d455d;
}
