#signupBG {
  background-image: url("/src/assets/img/BLOOMFIELDS_LOGO-03.png");
  background-size: 80rem;
  background-position: center center;
  background-color: #f2e3d2;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#signupForm {
  background-color: #84a29f;
  color: white;
  width: 55vw;
  padding-top: 45px;
  padding-bottom: 5px;
}
#buttonCard {
  background-color: #f2e3d2;
  border: none;
  color: #84a29f;
  width: 5rem;
}
