#signupBG {
  background-image: url("/src/img/BLOOMFIELDS_LOGO-03.png");
  background-size: 80rem;
  background-position: center center;
  background-color: rgba(255, 251, 225, 255);
  background-repeat: no-repeat;
  min-height: 100vh;
}
#textHead {
  border-bottom: 1px solid #4d455d;
}
#signupForm {
  background-color: #7db9b6;
  color: white;
  width: auto;
  height: auto;
}
#buttonCard {
  background-color: rgba(255, 251, 225, 255);
  border: none;
  color: #7db9b6;
  width: 5rem;
}
