#superVisorcardBG {
  background-color: #7db9b6;
  color: #4d455d;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#sideBarSuperVisor {
  background-color: #4d455d;
  color: #f5e9cf;
  width: 280px;
  height: 115vh;
}

#hoverList {
  background: none;
  border: none;
  color: #f5e9cf;
}
#hoverList:hover {
  background-color: #7db9b6;
  color: #4d455d;
  border-radius: 15px;
}

#sdBG {
  max-height: 100vh;
  overflow: hidden;
}
