#vcaseBG {
  background-color: #f5e9cf;
  min-height: 100vh;
}

#vcaseCard {
  background-color: #7db9b6;
  color: white;
}

#Case-Notes {
  background-color: #4d455d;
  min-height: 35vh;
}

#bgSession {
  background-color: #f5e9cf;
  color: #4d455d;
}

#casebackButton {
  width: 7rem;
  height: 3rem;
  background: #e96479;
  box-shadow: 10px 10px 10px 4px rgba(0, 0, 0, 0.25);
  border: none;
  color: #ffffff;
}
