#AssBG {
  background-color: #f5e9cf;
  min-height: 100vh;
}
#ViewAssForm {
  background-color: #7db9b6;
  color: #ffffff;
}

.view-assignments {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.tabs button {
  background-color: #4d455d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tabs button.active {
  background-color: #f5e9cf;
  color: #4d455d;
}

#buttonAssTab {
  background-color: #4d455d;
  height: 8rem;
  width: 50rem;
  color: #f5e9cf;
  border: none;
}

#modalBG {
  background-color: #4d455d;
}

#modalContainer {
  background-color: #f5e9cf;
  width: 29rem;
  height: 20rem;
  padding: 20px;
  margin-top: 10px;
  border-radius: 5px;
}

.col {
  margin-bottom: 10px;
}

#submitButton {
  background-color: #7db97f;
  font-size: large;
  color: #f5e9cf;
  width: 6rem;
  border: none;
}

#viewAssButton {
  background-color: #f5e9cf;
  border: none;
  color: #4d455d;
}
