#WeekForm {
  background-color: #4d455d;
  color: #f5e9cf;
  min-width: 90rem;
}

#bgHeader {
  background-color: #f5e9cf;
  color: #4d455d;
}

#bgCol {
  background-color: #f5e9cf;
  color: #4d455d;
}
.table-group-divider {
  color: #000;
}

#tableBG {
  background-color: #7db9b6;
}
