#WeeklyBG {
  background-color: #f5e9cf;
  min-height: 100vh;
}

#WeekForm {
  background-color: #7db9b6;
  color: white;
}

.table-group-divider {
  color: #000;
}

#tableBG {
  background-color: #7db9b6;
}
