#WellnessBG {
  background-color: #f5e9cf;
  min-height: 100vh;
}

#WellnessForm {
  background-color: #7db9b6;
  color: white;
}

#SHSDescription {
  text-align: justify;
  text-justify: inter-word;
}

#slider {
  width: 100%;
}
