#WellBG {
  background-color: #ffffff;
  min-height: 92vh;
}

#WellnessForm {
  min-width: 50px;
  background-color: #ffffff;
}

#SHSDescription {
  text-align: justify;
  text-justify: inter-word;
}

#slider {
  width: 100%;
}
